@use "sass:meta";

@use "global";
@use "utils";

/* Styles limited to fallout sheets */
.fallout {
	@include meta.load-css('components');
}

.fallout.sheet.actor {
	min-width: 865px;
}

.fallout.sheet.creature {
	min-width: 690px;
}

.fallout.sheet.item {
	min-width: 580px;
}

.fallout.sheet.npc {
	min-width: 815px;
}

.fallout.sheet.vehicle {
	min-width: 700px;
}
