<ol class="items-list">
	<li class="consumable flexrow items-header">
		<div class="flexrow flexlarge item-name upperC">
			<span>
				<a
					class="manage-session-doses"
					data-tooltip="{{localize 'FALLOUT.UI.ChemDoses.tooltip'}}"
				>
					<i class="fa-solid fa-tablets"></i>
				</a>
				{{localize 'FALLOUT.UI.Addictions'}}
			</span>
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="{{localize 'FALLOUT.TEMPLATES.Create_Addiction'}}"
				data-type="addiction"
			>
				<i class="fas fa-plus"></i>
				{{localize 'FALLOUT.UI.Add'}}
			</a>
			<a
				class="find-from-compendium"
				data-type="addiction"
			>
				<i class="fa-solid fa-magnifying-glass"></i>
			</a>
		</div>
	</li>
	{{#each itemsByType.addiction as |item id|}}
		{{>	actor/_shared-partials/simple-expandable-item
			basicControlsOnly=true
			item=item
		}}
	{{/each}}
</ol>
