<div
	class="resource-plate-header plate-3-r"
	style="margin-bottom: 10px;"
>
	<div class="flexrow align-mid">
		<div class="symbol crippled"></div>
		<h4 style="margin:0">
			<strong>
				{{localize "FALLOUT.TEMPLATES.INJURIES"}}:
				{{openInjuriesCount}}
			</strong>
		</h4>
	</div>
</div>
