<div
	class="resource-plate-header plate-3-g"
	style="margin-bottom: 10px;"
>
	<div class="flex align-mid">
		<i class="fo-radiation" style="margin-right: 3px;"></i>
		<h4 style="margin: 0 5px 0 0;">
			<strong>
				{{localize "FALLOUT.TEMPLATES.RADIATION"}}
			</strong>
		</h4>
		<input
			class="num-short-2"
			min="0"
			name="system.radiation"
			style="font-size:12px; background-color: beige; color: black;"
			type="number"
			value="{{system.radiation}}"
		>
	</div>
</div>
