<div class="box">
	<div class="box-header">
		<h4 class="upperC">
			{{localize "FALLOUT.TEMPLATES.Status"}}
		</h4>
	</div>
	<div class="flexrow resource-row align-mid">
		<label class="resource-label upperC">
			{{localize "FALLOUT.TEMPLATES.TinkeredWith"}}
		</label>
		<input
			name="system.conditions.tinkeredWith"
			type="checkbox"
			{{checked system.conditions.tinkeredWith}}
		>
	</div>
</div>
