<div class="flexrow fallout-dialog">
	<div class="flexrow resource" style="padding:5px">
		<label class="title-label">
			{{localize "FALLOUT.UI.NumberOfDice"}}
		</label>
		<input type="number" class="damage-dice" value="{{diceNum}}" />
	</div>
</div>
