<div class="flexrow fallout-dialog">
    <div class="flexrow resource" style="padding:5px">
        <label class="title-label">Number of Dice:</label><input type="number" class="d-number" value="${diceNum}">
    </div>
</div>