<div class="tab description" data-group="primary" data-tab="description">
	{{editor descriptionHTML
		button=true
		editable=editable
		owner=owner
		rollData=rollData
		target="system.description"
	}}
</div>
