<div class="tab attributes" data-group="primary" data-tab="attributes">
	{{> item/_shared-partials/choice-selector
		config=traitSelectionConfig
		editable=editable
		label=(localize "FALLOUT.Item.Origin.FixedTraits.label")
	}}
</div>
