$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$f-orange: #d8903f;
$f-green: #b4bb5b;
$f-blue: #729eb2;
$f-tile: #6ea898;
$f-yellow: #cbab58;
$f-red: #e37e6c;
$f-purple: #8a92b3;
$f-blue-grey-l: #c8d0d4