$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$f-orange: #d8903f;
$f-green: #b4bb5b;
$f-blue: #729eb2;
$f-tile: #6ea898;
$f-yellow: #cbab58;
$f-red: #e37e6c;
$f-purple: #8a92b3;
$f-blue-grey-l: #c8d0d4;

$fa-green: #86aa90;
$fa-brown: #8d7c5b;
$fa-blue: #4eb9ca;
$fa-orange: #e09552;
$fa-grey: #b8b4a1;
$fa-punch: #dbab96;
$fa-purple: #b2abbc;

$f-healthy: #86aa90;
$f-wounded: #d8903f;
$f-crippled: #ff0000;
