@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font-oswald: 'Oswald', sans-serif;
$font-lobster: 'Lobster', cursive;


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;