<div class="tab cargo" data-group="primary" data-tab="cargo">
	<div class="flexrow">
		{{!-- LEFT --}}
		<div style="padding-right: 5px;">
			{{> actor/vehicle/partials/inventory }}
		</div>

		{{!-- RIGHT --}}
		<div>
			{{> actor/_shared-partials/materials
				materials=inventoryMaterials
			}}
		</div>
	</div>
</div>
