<ol class="items-list">
  <li class="item skill flexrow items-header">
    <div class="item-name">{{localize "FALLOUT.TEMPLATES.SKILL"}}</div>
    <div class="item-skill-tag">{{localize "FALLOUT.TEMPLATES.Tag"}}</div>
    <div class="item-skill-value">{{localize "FALLOUT.TEMPLATES.Rank"}}</div>
  </li>
  {{#each skills as |item id|}}
  <li class="item skill flexrow" data-item-id="{{item._id}}">
    <div class="item-name">
      <h4><a class="color-secondary"><span class="resource-label upperC">{{item.name}}</span> [{{localize (concat 'FALLOUT.AbilityAbbr.' item.data.defaultAttribute)}}]</a></h4>
    </div>
    <div class="item-skill-tag">
      <input type="checkbox" name="tag" {{#ifCond item.data.tag '==' true}}checked{{/ifCond}}>
    </div>
    <div class="item-skill-value">
      <input type="number" class="num-short-2" name="value" value="{{item.data.value}}">
    </div>
  </li>
  {{/each}}
</ol>