<div class="flexrow">
    <div class="flexcol" style="padding-right: 5px;">
        <div class="box">
            <div class="box-header">
                <h4>CONSUMABLES</h4>
            </div>
            <ol class="items-list">
                {{#each consumables as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="box">
            <div class="box-header">
                <h4>BOOKS AND MAGZ</h4>
            </div>
            <ol class="items-list">
                {{#each books_and_magz as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="flexcol">
        <div class="box">
            <div class="box-header">
                <h4>MISCELLANY</h4>
            </div>
            <ol class="items-list">
                {{#each miscellany as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>