<div class="flex" style="margin: 5px 0 10px 0; padding: 10px; background-color: black;">
    <span class="flex align-mid" style="flex-basis: 200px; margin-right: 20px;">
        <label style="color:white" class="upperC"><strong>{{localize 'FALLOUT.UI.CAPS'}}:</strong></label>
        <input type="text" class="underline" name="data.currency.caps" value="{{data.currency.caps}}">
    </span>
    <span class="flex align-mid" style="flex-basis: 100%;">
        <label style="color:white" class="upperC"><strong>{{localize 'FALLOUT.UI.OTHER'}}:</strong></label>
        <input type="text" class="underline" name="data.currency.other" value="{{data.currency.other}}" style="width: 100%;" placeholder="Pre War Money, Gold, New Money, etc.">
    </span>
</div>

<div class="flexrow">
    {{!-- LEFT _________________________________________________________________ --}}
    <div class="" style="padding-right: 5px;">
        {{!-- ROBOT MODS --}}
        {{#ifCond actor.type '==' 'robot'}}
        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.ROBOT_MODULES'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Robot_Module'}}" data-type="robot_mod"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each robot_mods as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item }}
                {{/each}}
            </ol>
        </div>
        {{/ifCond}}

        {{!-- WEAPON MODS --}}
        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.WEAPON_MODS'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Weapon_Mod'}}" data-type="weapon_mod"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each weapon_mods as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item }}
                {{/each}}
            </ol>
        </div>

        {{!-- APPAREL MODS --}}
        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.APPAREL_MODS'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Apparel_Mod'}}" data-type="apparel_mod"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each apparel_mods as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item }}
                {{/each}}
            </ol>
        </div>


    </div>
    {{!-- RIGHT _________________________________________________________________ --}}
    <div class="">
        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.CONSUMABLES'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Consumable'}}" data-type="consumable"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each consumables as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
                {{/each}}
            </ol>
        </div>

        <div class="box padding5">
            <ol class="items-list">
                <li class="item books_and_magz flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.BOOKS_AND_MAGZS'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_books_and_magz'}}" data-type="books_and_magz"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each books_and_magz as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
                {{/each}}
            </ol>
        </div>

        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.MISCELLANY'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Miscellany'}}" data-type="miscellany"><i class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each miscellany as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
                {{/each}}
            </ol>
        </div>

        <div class="box padding5">
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.UNSORTED'}}</div>
                </li>
                {{#each inventory as |item id|}}
                {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>