<div class="flexrow">
    <div class="" style="padding-right: 5px;">
        <div class="box">
            
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.CONSUMABLE'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Consumable" data-type="consumable"><i
                                class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each consumables as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="box">
            
            <ol class="items-list">
                <li class="item books_and_magz flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.BOOKS_AND_MAGZ'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create books_and_magz" data-type="books_and_magz"><i
                                class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each books_and_magz as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="">
        <div class="box">
            
            <ol class="items-list">
                <li class="item consumable flexrow items-header">
                    <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.MISCELLANY'}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Miscellany" data-type="miscellany"><i
                                class="fas fa-plus"></i>
                            {{localize 'FALLOUT.UI.Add'}}</a>
                    </div>
                </li>
                {{#each miscellany as |item id|}}
                <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <h4 class="resource-label">{{item.name}}</h4>
                    </div>
                    <div class=" item-controls">
                        <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}"
                            title='{{localize "FALLOUT.favorite"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>