<div class="condition-box flexrow">
    {{!-- LEFT COLUMN --}}
    <div style="padding-right:10px;">
        <div class="box">
            <div class="box-header">
                <h4>{{localize "FALLOUT.TEMPLATES.DERIVED"}}</h4>
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">{{localize "FALLOUT.TEMPLATES.MELEE_DAMAGE"}}</label>
                <input class="num-short-2" type="number" name="data.meleeDamage.base" value="{{data.meleeDamage.base}}">
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">{{localize "FALLOUT.TEMPLATES.DEFENSE"}}</label>
                <input class="num-short-2" type="number" name="data.defense.base" value="{{data.defense.base}}">
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">{{localize "FALLOUT.TEMPLATES.INITIATIVE"}}</label>
                <input class="num-short-2" type="number" name="data.initiative.value" value="{{data.initiative.value}}">
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h4>{{localize "FALLOUT.TEMPLATES.RESISTANCE_GENERAL_BONUS"}}</h4>
            </div>
            <div class="flexcol">
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-physical"></i>
                        <label for="data.resistance.physical">{{localize "FALLOUT.TEMPLATES.PHYS"}}</label>
                    </span>
                    <input type="number" name="data.resistance.physical" class="num-short-2" value="{{data.resistance.physical}}">
                </div>
                <div class="flexrow resource-row">
                    <span><i class="fo-energy"></i><label for="data.resistance.energy">{{localize "FALLOUT.TEMPLATES.ENG"}}</label></span>
                    <input type="number" name="data.resistance.energy" class="num-short-2" value="{{data.resistance.energy}}">
                </div>
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-radiation"></i>
                        <label for="data.resistance.radiation">{{localize "FALLOUT.TEMPLATES.RAD"}}</label>
                    </span>
                    <input type="number" name="data.resistance.radiation" class="num-short-2" value="{{data.resistance.radiation}}">
                </div>
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-poison"></i>
                        <label for="data.resistance.poison">{{localize "FALLOUT.TEMPLATES.POISON"}}</label>
                    </span>
                    <input type="number" name="data.resistance.poison" class="num-short-2" value="{{data.resistance.poison}}">
                </div>
            </div>
        </div>
    </div>

    {{!-- MIDDLE COLUMN --}}
    <div>
        {{!-- PIP BOY HELP --}}
        <div class="status-help-bar">
            <div class="help-item">
                <span class="symbol healthy"></span>
                <p>{{localize "FALLOUT.TEMPLATES.Healthy"}}</p>
            </div>
            <div class="help-item">
                <span class="symbol wounded"></span>
                <p>{{localize "FALLOUT.TEMPLATES.Treated_injury_Right_Click"}}</p>
            </div>
            <div class="help-item">
                <span class="symbol crippled"></span>
                <p>{{localize "FALLOUT.TEMPLATES.Injury_Left_Click"}}</p>
            </div>
        </div>
        {{!-- PIP BOY --}}
        <div class="pipboy-status-screen {{actor.type}}">
            <div class="body-part head {{data.body_parts.head.status}}"></div>
            <div class="body-part torso {{data.body_parts.torso.status}}"></div>
            <div class="body-part armL {{data.body_parts.armL.status}}"></div>
            <div class="body-part armR {{data.body_parts.armR.status}}"></div>
            <div class="body-part legL {{data.body_parts.legL.status}}"></div>
            <div class="body-part legR {{data.body_parts.legR.status}}"></div>
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.head
            keypart="head"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.torso
            keypart="torso"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.armL
            keypart="armL"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.armR
            keypart="armR"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.legL
            keypart="legL"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.legR
            keypart="legR"}}
        </div>

    </div>

    {{!-- RIGHT COLUMN --}}
    <div style="padding-left:10px;">
        <div class="resource-plate-header plate-31-o" style="padding-right: 5px;">
            <div class="label">
                <h3 style="margin:0;"><strong>{{localize "FALLOUT.HEALTH.health"}}</strong></h3>
            </div>
            <div class="flexrow align-mid">
                <input class="num-short-3" style="font-size:18px; background-color: beige; color: black;" type="number" name="data.health.value" value="{{data.health.value}}">
                <span class="text-center">/</span>
                <input class="num-short-3" style="font-size:18px; background-color: beige; color: black;" type="number" name="data.health.max" value="{{data.health.max}}">
            </div>
        </div>

        <div class="resource-plate-header plate-3-r" style="margin-bottom: 10px;">
            <div class="flexrow align-mid">
                <div class="symbol crippled"></div>
                <h4 style="margin:0"><strong>{{localize "FALLOUT.TEMPLATES.INJURIES"}}: {{openInjuriesCount}}</strong></h4>
            </div>
        </div>

        {{#ifCond actor.type '==' 'character'}}
        <div class="box">
            <div class="box-header">
                <h4 class="tab-switch" data-tab="apparel">{{localize "FALLOUT.TEMPLATES.POWER_ARMOR_HEALTH"}}</h4>
            </div>
            <div class="power-armor-status">
                <div class="body-part" style="position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                    <label>{{data.outfitedLocations.head.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.head.data.health.value}}" data-body-location="head" data-item-id="{{data.outfitedLocations.head._id}}">
                </div>

                <div class="body-part" style="position: absolute;margin-left: auto;margin-right: auto;left: 0;right: 0;top:60px;">
                    <label>{{data.outfitedLocations.torso.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.torso.data.health.value}}" data-body-location="torso" data-item-id="{{data.outfitedLocations.torso._id}}">
                </div>

                <div class=" body-part" style="position: absolute;left: 0;top:50px;">
                    <label>{{data.outfitedLocations.armL.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.armL.data.health.value}}" data-body-location="armL" data-item-id="{{data.outfitedLocations.armL._id}}">
                </div>

                <div class=" body-part" style="position: absolute; right: 0; top:50px;">
                    <label>{{data.outfitedLocations.armR.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.armR.data.health.value}}" data-body-location="armR" data-item-id="{{data.outfitedLocations.armR._id}}">
                </div>

                <div class=" body-part" style="position: absolute;left: 15px; top:120px;">
                    <label>{{data.outfitedLocations.legL.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.legL.data.health.value}}" data-body-location="legL" data-item-id="{{data.outfitedLocations.legL._id}}">
                </div>

                <div class=" body-part" style="position: absolute; right: 15px; top:120px;">
                    <label>{{data.outfitedLocations.legR.data.health.max}}</label>
                    <input class="num-short-2 power-armor-monitor-helath-value" type="number" value="{{data.outfitedLocations.legR.data.health.value}}" data-body-location="legR" data-item-id="{{data.outfitedLocations.legR._id}}">
                </div>
            </div>
        </div>
        {{/ifCond}}

        {{#ifCond actor.type '==' 'robot'}}
        <div class="box">
            <div class="box-header">
                <h4 class="tab-switch" data-tab="inventory">{{localize "FALLOUT.TEMPLATES.MODULES"}}</h4>
            </div>
            <div>
                <ol class="items-list">
                    {{#each data.equippedRobotMods as |item key|}}
                    <li class="item">
                        <h4 style="margin: 0; padding: 2px; background-color: #00000040;">{{item.name}}</h4>
                        <span class="font-size-11">{{{item.data.data.effect}}}</span>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        {{/ifCond}}

    </div>
</div>

{{!-- ENCUMBRANCE --}}
<div class="box no-padding" style="margin-top: 5px; margin-bottom: 0px;">
    <div class="flexrow align-mid">
        <div class="flex-center">
            <label for="">{{data.carryWeight.base}} .{{localize "FALLOUT.TEMPLATES.lbs"}} + </label>
            <input type="number" name="data.carryWeight.mod" class="num-short-2" value="{{data.carryWeight.mod}}">
            <label for=""> = {{localize "FALLOUT.TEMPLATES.MAX"}}: {{data.carryWeight.value}} .{{localize "FALLOUT.TEMPLATES.lbs"}}</label>
        </div>
        <div class="text-center">
            <label>{{localize "FALLOUT.TEMPLATES.Encumbrance_Level"}}: {{data.encumbranceLevel}}</label>
        </div>
        <div style="text-align: right;">
            <label>{{localize "FALLOUT.TEMPLATES.Total"}}: {{data.totalWeight}} / {{data.carryWeight.value}} .{{localize "FALLOUT.TEMPLATES.lbs"}}</label>
        </div>
    </div>
</div>

{{!-- FAVOURITE ROW // EQUIPPED --}}
<div class="status footer grid grid-5col">
    <div class="grid-span-2">
        {{> "systems/fallout/templates/actor/parts/actor-favorite_weapons.html"}}
    </div>
    <div class="grid-span-2">
        {{> "systems/fallout/templates/actor/parts/actor-equipped_apparel.html"}}
    </div>
    <div>
        {{> "systems/fallout/templates/actor/parts/actor-conditions.html"}}
    </div>
</div>