<div class="box">
    <div class="box-header">
        <h4>{{localize "FALLOUT.TEMPLATES.CONDITIONS"}}</h4>
    </div>
    <div class="box-content">
        <ol class="items-list">
            {{#each data.conditions as |item key|}}
            <li class="item flexrow">
                <div class="item-name flex3">
                    <h4 class="resource-label upperC">{{localize (concat 'FALLOUT.TEMPLATES.conditions.' key)}}</h4>
                </div>
                <div class="text-center">
                    <input type="number" class="num-short-2" name="data.conditions.{{key}}" value="{{item}}">
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>