<ol class="items-list">
  <li class="item skill flexrow items-header">
    <div class="item-name">{{localize "FALLOUT.TEMPLATES.PERK"}}</div>
    <div class="item-perk-value">{{localize "FALLOUT.TEMPLATES.Rank"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="perk"><i class="fas fa-plus"></i> {{localize "FALLOUT.TEMPLATES.Add_Perk"}}</a>
    </div>
  </li>
  {{#each perks as |item id|}}
  {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
  {{/each}}
</ol>