{{#ifCond actor.type '==' 'character'}}
{{#each allApparel as |apparel index| }}
<ol class="items-list">
    <li class="item apparel flexrow items-header">
        <div class="flexrow flexlarge item-name upperC">{{localize (concat 'FALLOUT.APPAREL.' apparel.apparelType)}}</div>
        <div class="flexrow flexlarge item-info">
            {{#ifCond apparel.apparelType '==' 'powerArmor'}}
            <div class="text-center">
                <p>{{localize "FALLOUT.powered"}}</p>
            </div>
            {{/ifCond}}
            <div class="text-center flex2">
                <p>{{localize "FALLOUT.TEMPLATES.Locations"}}</p>
            </div>
            <div class="text-center flex2">
                <p>{{localize "FALLOUT.TEMPLATES.Resistances"}}</p>
            </div>
        </div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="apparel" data-appareltype="{{apparel.apparelType}}"><i class="fas fa-plus"></i> {{localize (concat 'FALLOUT.APPAREL.' apparel.apparelType)}}</a>
        </div>
    </li>
    {{#each list as |item id|}}
    <li class="item apparel" data-item-id="{{item._id}}">
        <div class=" flexrow">
            <div class="item-name flexlarge expandable-info">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </div>
                <h4 class="resource-label">{{item.name}}</h4>
            </div>
            <div class="flexrow flexlarge item-info align-mid">
                {{#ifCond item.data.appareltype '==' 'powerArmor'}}
                <a class="text-center item-control item-powered {{#unless item.data.powered}}item-unpowered{{/unless}}" title='{{localize "FALLOUT.powered"}}'>
                    <i class="fas fa-dot-circle"></i>
                </a>
                {{/ifCond}}
                <div class="text-center flex2">
                    {{#each item.data.location as |hasLoc loc|}}
                    <span class="font-size-11">{{#ifCond hasLoc '==' true}}{{localize (concat "FALLOUT.BODYLOCATION_ABBR." ../../../actor.type "." loc)}}&nbsp;{{/ifCond}}</span>
                    {{/each}}
                </div>
                <div class="text-center flex2">
                    {{#each item.data.resistance as |resValue res|}}
                    <span><i class="{{damageFaIconClass res}}" title="{{res}}"></i>:{{resValue}}&nbsp;</span>
                    {{/each}}
                </div>
            </div>
            <div class=" item-controls">
                <a class="item-control item-stash {{#unless item.data.stashed}}item-unstashed{{/unless}}" title='{{localize "FALLOUT.UI.stashed"}}'>
                    <i class="fas fa-briefcase"></i>
                </a>
                <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}" title='{{localize "FALLOUT.equipped"}}'>
                    <i class="fas fa-tshirt"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>
{{/each}}
{{/ifCond}}
{{#ifCond actor.type '==' 'robot'}}
{{#each allRobotApparel as |apparel index| }}
<ol class="items-list">
    <li class="item apparel flexrow items-header">
        <div class="flexrow flexlarge item-name upperC">{{localize (concat 'FALLOUT.APPAREL.' apparel.apparelType)}}</div>
        <div class="flexrow flexlarge item-info">
            <p>{{localize "FALLOUT.TEMPLATES.Locations"}}</p>
            <p>{{localize "FALLOUT.TEMPLATES.Resistances"}}</p>
        </div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create Robot Armor" data-type="robot_armor" data-appareltype="{{apparel.apparelType}}"><i class="fas fa-plus"></i> {{localize (concat 'FALLOUT.APPAREL.' apparel.apparelType)}}</a>
        </div>
    </li>
    {{#each list as |item id|}}
    <li class="item apparel" data-item-id="{{item._id}}">
        <div class=" flexrow">
            <div class="item-name flexlarge expandable-info">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </div>
                <h4 class="resource-label">{{item.name}}</h4>
            </div>
            <div class="flexrow flexlarge item-info align-mid">
                <div class="text-center">
                    {{#each item.data.location as |hasLoc loc|}}
                    <span class="font-size-11">{{#ifCond hasLoc '==' true}}{{localize (concat "FALLOUT.BODYLOCATION_ABBR." ../../../actor.type "." loc)}}&nbsp;{{/ifCond}}</span>
                    {{/each}}
                </div>
                <div class="text-center">
                    {{#each item.data.resistance as |resValue res|}}
                    <span><i class="{{damageFaIconClass res}}" title="{{res}}"></i>:{{resValue}}&nbsp;</span>
                    {{/each}}
                </div>
            </div>
            <div class=" item-controls">
                <a class="item-control item-stash {{#unless item.data.stashed}}item-unstashed{{/unless}}" title='{{localize "FALLOUT.UI.stashed"}}'>
                    <i class="fas fa-briefcase"></i>
                </a>
                <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}" title='{{localize "FALLOUT.equipped"}}'>
                    <i class="fas fa-tshirt"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>
{{/each}}
{{/ifCond}}