<ol class="items-list">
    <li class="item weapon flexrow items-header">
        <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.NAME'}}</div>
        <div class="flexrow flexlarge item-info">
            <p>Damage</p>
            <p>Type</p>
        </div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="weapon" data-appareltype="{{apparel.apparelType}}"><i class="fas fa-plus"></i> {{localize 'FALLOUT.ADD'}}</a>
        </div>
    </li>
    {{#each weapons as |item id| }}
    <li class="item weapon" data-item-id="{{item._id}}">
        <div class=" flexrow">
            <div class="item-name flexlarge expandable-info">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </div>
                <a>
                    <h4 class="resource-label">{{item.name}}</h4>
                </a>
            </div>
            <div class="flexrow flexlarge item-info align-mid">
                <div class="text-center">
                    <a>{{item.data.damage.rating}} DC</a>
                </div>
                <div class="text-center">
                    {{item.data.damage.damageType}}
                </div>
            </div>
            <div class=" item-controls">
                <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}" title='{{localize "FALLOUT.equipped"}}'>
                    <i class="fas fa-tshirt"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>