<div class="box">
    <div class="box-header">
        <h4 class="tab-switch" data-tab="apparel">{{localize "FALLOUT.TEMPLATES.APPAREL"}}</h4>
    </div>
    <div class="box-content">
        <ol class="items-list">
            {{#each data.outfitedLocations as |item id|}}
            <li class="item apparel flexrow" data-item-id="{{item._id}}">
                <div class="item-name">
                    <h4 class="resource-label"><a><span class='upperC'> {{localize (concat 'FALLOUT.BODYLOCATION.' ../actor.type '.' id)}}</span>: {{item.name}}</a></h4>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>