<ol class="items-list">
    <li class="item weapon flexrow items-header">
        <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.Name'}}</div>
        <div class="flexrow flexlarge item-info">
            <p>{{localize 'FALLOUT.UI.Damage'}}</p>
            <p>{{localize 'FALLOUT.UI.Type'}}</p>
        </div>
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Weapon'}}" data-type="weapon"><i class="fas fa-plus"></i>
                {{localize 'FALLOUT.UI.Add'}}</a>
        </div>
    </li>
    {{#each weapons as |item id| }}
    <li class="item weapon" data-item-id="{{item._id}}">
        <div class=" flexrow">
            <div class="item-name flexlarge weapon-roll">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </div>
                <a class="resource-label">{{item.name}}</a>
            </div>
            <div class="flexrow flexlarge align-mid">
                <div class="text-center">
                    <a class="weapon-roll-damage"><strong>{{item.data.damage.rating}}</strong> <span class="fo-pip-boy fo-blue"></span> {{#if (isWeaponUsingMeleeBonus item ../actor)}} +
                        <strong>{{../actor.data.data.meleeDamage.base}}</strong> <span class="fo-pip-boy fo-blue"></span> MB{{/if}}</a>
                </div>
                <div class="text-center">
                    {{#each item.data.damage.damageType as |dt dk|}}
                    {{#ifCond dt '==' true}}
                    <i class="fo-{{dk}}" title="{{localize (concat 'FALLOUT.WEAPONS.damageType.' dk)}}"></i>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <div class=" item-controls">
                <a class="item-control item-stash {{#unless item.data.stashed}}item-unstashed{{/unless}}" title='{{localize "FALLOUT.UI.stashed"}}'>
                    <i class="fas fa-briefcase"></i>
                </a>
                <a class="item-control item-favorite {{#unless item.data.favorite}}favorite-start-dim{{/unless}}" title='{{localize "FALLOUT.UI.favorite"}}'>
                    <i class="fas fa-star"></i>
                </a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>

{{#if (or
(eq actor.type "character")
(eq actor.type "robot"))}}
<ol class="items-list">
    <li class="item weapon flexrow items-header">
        <div class="flexrow flexlarge item-name upperC">{{localize "FALLOUT.TEMPLATES.AMMO"}} {{localize 'FALLOUT.UI.Name'}}</div>
        <div class="flexrow flexlarge item-info">
            <p>{{localize 'FALLOUT.UI.Quantity'}}</p>
        </div>
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'FALLOUT.TEMPLATES.Create_Ammo'}}" data-type="ammo"><i class="fas fa-plus"></i>
                {{localize 'FALLOUT.UI.Add'}}</a>
        </div>
    </li>
    {{#each ammo as |item id| }}
    <li class="item ammo" data-item-id="{{item._id}}">
        <div class=" flexrow">
            <div class="item-name flexlarge expandable-info">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </div>
                <h4 class="resource-label">{{item.name}}</h4>
            </div>
            <div class="flexrow flexlarge align-mid">
                <div class="text-center">
                    <input type="number" class="ammo-quantity num-short-3" name="data.quantity" value="{{item.data.quantity}}">
                </div>
            </div>
            <div class=" item-controls">
                <a class="item-control item-stash {{#unless item.data.stashed}}item-unstashed{{/unless}}" title='{{localize "FALLOUT.UI.stashed"}}'>
                    <i class="fas fa-briefcase"></i>
                </a>
                <a class="item-control item-edit" title="{{localize 'FALLOUT.TEMPLATES.Edit_Item'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'FALLOUT.TEMPLATES.Delete_Item'}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>
{{/if}}