<div class="condition-box flexrow">
    {{!-- LEFT COLUMN --}}
    <div style="padding-right:10px;">
        <!-- <div class="flexrow resource-row align-mid resource-plate-header plate-3-g">
            <div>
                <label class="label"><strong>Luck</strong></label>
                <label style="font-size: 12px; padding-left: 10px;">Points</label>
            </div>
            <div class="special-number">
                <input type="number" style="font-size: 22px;" name="data.luckPoints" value="{{data.luckPoints}}">
            </div>
        </div> -->
        <div class="box">
            <div class="box-header">
                <h4>DERIVED</h4>
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">MELEE DAMAGE</label>
                <input class="num-short-2" type="number" name="data.meleeDamage.base" value="{{data.meleeDamage.base}}">
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">DEFENSE</label>
                <input class="num-short-2" type="number" name="data.defense.base" value="{{data.defense.base}}">
            </div>
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">INITIATIVE</label>
                <input class="num-short-2" type="number" name="data.initiative.base" value="{{data.initiative.base}}">
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h4>RESISTANCES</h4>
            </div>
            <div class="flexcol">
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-physical"></i>
                        <label for="data.resistance.physical">PHYS</label>
                    </span>
                    <input type="number" name="data.resistance.physical" class="num-short-2" value="{{data.resistance.physical}}">
                </div>
                <div class="flexrow resource-row">
                    <span><i class="fo-energy"></i><label for="data.resistance.energy">ENG</label></span>
                    <input type="number" name="data.resistance.energy" class="num-short-2" value="{{data.resistance.energy}}">
                </div>
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-radiation"></i>
                        <label for="data.resistance.radiation">RAD</label>
                    </span>
                    <input type="number" name="data.resistance.radiation" class="num-short-2" value="{{data.resistance.radiation}}">
                </div>
                <div class="flexrow resource-row">
                    <span>
                        <i class="fo-poison"></i>
                        <label for="data.resistance.poison">POISON</label>
                    </span>
                    <input type="number" name="data.resistance.poison" class="num-short-2" value="{{data.resistance.poison}}">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h4>ENCUMBRANCE</h4>
            </div>
            <div class="flexcol">
                <div class="flexrow resource-row">
                    <label for="">MAX &nbsp;</label>
                    <input type="number" name="" class="num-short-2" value="{{data.carryWeight.base}}">
                </div>
                <p>______&nbsp;______&nbsp;______</p>
                <p>Total:0</p>
            </div>
        </div>
    </div>

    {{!-- MIDDLE COLUMN --}}
    <div>
        {{!-- PIP BOY --}}
        <div class="pipboy-status-screen {{actor.type}}">
            <div class="body-part head {{data.body_parts.head.status}}"></div>
            <div class="body-part torso {{data.body_parts.torso.status}}"></div>
            <div class="body-part armL {{data.body_parts.armL.status}}"></div>
            <div class="body-part armR {{data.body_parts.armR.status}}"></div>
            <div class="body-part legL {{data.body_parts.legL.status}}"></div>
            <div class="body-part legR {{data.body_parts.legR.status}}"></div>
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.head
            keypart="head"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.torso
            keypart="torso"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.armL
            keypart="armL"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.armR
            keypart="armR"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.legL
            keypart="legL"}}
            {{> "systems/fallout/templates/actor/parts/body-status-plaque.html" bodypart=data.body_parts.legR
            keypart="legR"}}
        </div>

        <div class="status-help-bar flexrow">
            <div class="help-item">
                <div class="symbol healthy"></div>
                <p>Healthy</p>
            </div>
            <div class="help-item">
                <div class="symbol wounded"></div>
                <p>Trated injury</p>
            </div>
            <div class="help-item">
                <div class="symbol crippled"></div>
                <p>Injury</p>
            </div>
        </div>
        <div class="status-help-bar flexrow">
            <p>Left Click toggles Injury &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Right Click toggles Treated Injury</p>
        </div>
    </div>

    {{!-- RIGHT COLUMN --}}
    <div style="padding-left:10px;">
        <div class="resource-plate-header plate-31-o" style="padding-right: 5px;">
            <div class="label">
                <h3 style="margin:0;"><strong>Health</strong></h3>
            </div>
            <div class="flexrow align-mid">
                <input class="num-short-3" style="font-size:18px;" type="number" name="data.health.value" value="{{data.health.value}}">
                <span class="text-center">/</span>
                <input class="num-short-3" style="font-size:18px;" type="number" name="data.health.max" value="{{data.health.max}}">
            </div>
        </div>

        <div class="resource-plate-header plate-3-r">
            <div class="flexrow">
                <div class="symbol crippled"></div>
                <h4 style="margin:0"><strong>INJURIES: {{openInjuriesCount}}</strong></h4>
            </div>
        </div>

        {{#ifCond actor.type '==' 'character'}}
        <div class="box">
            <div class="box-header">
                <h4 class="tab-switch" data-tab="apparel">POWER ARMOR HEALTH</h4>
            </div>
            <div class="power-armor-status">
                <div class="body-part" style="position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                    <label>2</label>
                    <input class="num-short-2" type="number" data-body-head>
                </div>

                <div class="body-part" style="position: absolute;margin-left: auto;margin-right: auto;left: 0;right: 0;top:60px;">
                    <label>3</label>
                    <input class="num-short-2" type="number" data-body-torso>
                </div>

                <div class="body-part" style="position: absolute;left: 0;top:50px;">
                    <label>3</label>
                    <input class="num-short-2" type="number" data-body-arml>
                </div>

                <div class="body-part" style="position: absolute; right: 0; top:50px;">
                    <label>2</label>
                    <input class="num-short-2" type="number" data-body-armr>
                </div>

                <div class="body-part" style="position: absolute;left: 15px; top:120px;">
                    <label>5</label>
                    <input class="num-short-2" type="number" data-body-legl>
                </div>

                <div class="body-part" style="position: absolute; right: 15px; top:120px;">
                    <label>3</label>
                    <input class="num-short-2" type="number" data-body-legr>
                </div>

            </div>
            <!-- {{#each data.body_parts as |part id|}}
            <div class="flexrow resource-row">
                <label>{{localize (concat 'FALLOUT.BODYLOCATION.' ../actor.type '.' id)}}</label>
                <input class="num-short-2" type="number" name="" value="">
            </div>
            {{/each}} -->
        </div>
        {{/ifCond}}



        <!--<div class="box">
             <div class="box-header">
                <h3>INJURIES</h3>
            </div> 
            
            {{#each data.body_parts as |body_part key|}}
            <div>
                <div class="body-part-header">
                    <h4> {{localize (concat 'FALLOUT.BODYLOCATION.' key)}} {{body_part.hit.min}}-{{body_part.hit.max}}</h4>
                </div>
                <div class="injury-bar">
                    {{#each body_part.injuries as |injury index|}}
                    <div class="injury-mark condition{{injury}}" data-bodypart="{{key}}" data-index="{{index}}" data-status="{{injury}}">&nbsp;</div>
                    {{/each}}
                </div>
            </div>
            {{/each}} 
        </div>-->


        <!-- {{#each data.body_parts as |body_part key|}}
        <div class="flexcol">
            <div class="bodypartheader">
                <h3>
                    {{localize (concat 'FALLOUT.BODYLOCATION.' key)}} {{body_part.hit.min}}-{{body_part.hit.max}}
                </h3>
                <select name="data.body_parts.{{key}}.status">
                    {{#select body_part.status}}
                    <option value="healthy">{{localize 'FO2d20.healthy'}}</option>
                    <option value="wounded">{{localize 'FO2d20.wounded'}}</option>
                    <option value="crippled">{{localize 'FO2d20.crippled'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="flexrow">
                {{#each body_part.resistance as |resistance_value keyType|}}
                <div class="defense-type">
                    <i class="fo-{{keyType}}" title="{{keyType}}"></i>
                    <input type="text" class="label-value" name="data.body_parts.{{key}}.resistance.{{keyType}}" value="{{resistance_value}}" data-dtype="Number" />
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}} -->

    </div>
</div>

{{!-- FAVOURITE ROW // EQUIPPED --}}
<div class="status footer grid grid-5col">
    <div class="grid-span-2">
        {{> "systems/fallout/templates/actor/parts/actor-favorite_weapons.html"}}
    </div>
    <div class="grid-span-2">
        {{> "systems/fallout/templates/actor/parts/actor-equipped_apparel.html"}}
    </div>
    <div>
        {{> "systems/fallout/templates/actor/parts/actor-conditions.html"}}
    </div>
</div>