<div class="status-plaque {{keypart}}" data-bodypart={{keypart}} data-status="{{bodypart.status}}">
    <div class="status-header">
        <p title="{{#with (lookup actor.data.data.outfitedLocations [keypart])~}}{{name}}{{/with}}">{{localize (concat 'FALLOUT.BODYLOCATION.' actor.type '.' keypart)}}&nbsp;{{getBodypartValue keypart}}</p>
    </div>

    <div class="injury-bar">
        {{#each bodypart.injuries as |injury index|}}
        <div class="injury-mark condition{{injury}}" data-bodypart="{{../keypart}}" data-index="{{index}}" data-status="{{injury}}">&nbsp;</div>
        {{/each}}
    </div>

    <div class="values flexrow">
        {{#each bodypart.resistance as |resistancevalue keyRes|}}
        <div class="defense-type">
            <i class="fo-{{keyRes}} resistance-icon" title="{{keyRes}}"></i>
            <p class="label-value text-center" />{{resistancevalue}}</p>
        </div>
        {{/each}}
    </div>
</div>