@use '../global/typography' as *;
@use '../utils/colors' as *;
@use '../utils/mixins' as *;

.fallout.ap-tracker {
	display: flex;
	margin-bottom: 16px;
	pointer-events: all;

	.ap-resource {
		padding: 10px 20px;
		margin-left: 8px;
		margin-right: 8px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&.gm {
			@include element-color($c-action-points-gm, 2);
			margin-left: 0px;
		}

		&.maxAP-box {
			@include element-color($c-action-points-max, 3);
		}

		&.party {
			@include element-color($c-action-points-party, 3);
			margin-right: 0px;
		}

		.toggle-maxAp {
			position: relative;
			left: 35px;
			color: beige;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h4 {
			margin: 0 0 2px 0;
			color: bisque;
			font-size: 14px;
			font-family: $font-primary;

		}

		input[type="number"] {
			margin: 0 5px;
			font-size: 16px;
		}

		.ap-btn {
			min-height: 24px;
			min-width: 24px;
			max-width: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: bisque;
			color: black;
			border-radius: 6px;
		}
	}
}
