$columns: 8;

%grid-styles {
	margin: 0;
	padding: 0;
	display: grid;
	column-gap: 8px;
	row-gap: 8px;
}

@mixin grid-colspan-x {
	@for $i from 1 through $columns {
		.grid-colspan-#{$i} {
			grid-column: span #{$i};
		}
	}
}

@mixin grid-x-columns {
	@for $i from 1 through $columns {
		.grid-#{$i}-columns {
			@extend %grid-styles;
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@mixin grid-colstart-x {
	@for $i from 1 through $columns {
		.grid-colstart-#{$i} {
			grid-column-start: #{$i};
		}
	}
}

@include grid-colspan-x;
@include grid-colstart-x;
@include grid-x-columns;
