.window-app {
	font-family: $font-primary;
}

.font-primary {
	font-family: $font-primary;
}

.pad-2 {
	padding: 2px;
}
.pad-5 {
	padding: 5px;
}

.font-size-11 {
	font-size: 11px;
}

.chat-message {
	background-image: url(../assets/chat/rec-paper.webp);
}

// Hit Die Style
.dice-tooltip .dice-rolls .roll.d20.diefalloutlocation {
	width: unset;
	background-image: none;
	text-align: left;
}

.fallout-chat-message {
	.content {
		padding: 5px;
		h2 {
			border: none;
			font-family: $font-oswald;
			font-weight: 700;
		}
		.dices-result {
			margin: 5px 0 5px 0;
			min-height: 32px;
		}
		.success-plaq {
			margin: 0 0 0 0;
			font-family: $font-lobster;
			padding: 10px;
			font-size: 16px;
			background-image: url(../assets/chat/green-placq.webp);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			.TN {
				font-family: $font-primary;
				font-size: 11px;
				font-weight: bold;
			}
		}
		.complication-plaq {
			margin: 2px 0 0 10px;
			font-family: $font-lobster;
			padding: 14px 10px 10px 10px;
			font-size: 12px;
			background-image: url(../assets/chat/red-placq.webp);
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.damage-plaq {
			//color: white;
			margin: 0 0 0 0;
			font-family: $font-lobster;
			padding: 10px;
			font-size: 16px;
			background-image: url(../assets/chat/yellow-placq.webp);
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.hit-location-label{
			font-size: 0.75rem;
			padding: 0 0.5rem 0.5rem 0.5rem;
		}
		.dice-icon {
			cursor: pointer;
			position: relative;
			min-width: 28px;
			line-height: 28px;
			float: left;
			margin-right: 1px;
			background-repeat: no-repeat;
			background-size: 28px 28px;
			font-size: 16px;
			color: rgb(0, 0, 0);
			font-weight: bold;
			text-align: center;

			&.d20 {
				background-image: url(../assets/chat/d20-white.svg);
				&.complication {
					color: honeydew !important;
					background-image: url(../assets/chat/d20-complication.svg);
				}
				&.success {
					background-image: url(../assets/chat/d20-success.svg);
				}
				&.crit {
					color: gold !important;
					background-image: url(../assets/chat/d20-crit.svg);
				}
				&.reroll {
					color: #1d1d1d;
				}
			}

			&.d6 {
				width: 32px;
				line-height: 32px;
				background-size: 32px 32px;
				margin: 2px;
				&.face-1 {
					background-image: url(../assets/chat/d1.webp);
				}
				&.face-2 {
					background-image: url(../assets/chat/d2.webp);
				}
				&.face-3 {
					background-image: url(../assets/chat/d3.webp);
				}
				&.face-4 {
					background-image: url(../assets/chat/d4.webp);
				}
				&.face-5 {
					background-image: url(../assets/chat/d5.webp);
				}
				&.face-6 {
					background-image: url(../assets/chat/d6.webp);
				}
			}

			&.dice-selected {
				opacity: 0.45;
			}
		}
	}
}

.fallout-dialog {
	.resource {
		margin: 0 2px 5px;
		padding: 0 5px 0 0;
		background-color: $f-blue;
		&.tile {
			background-color: $f-tile;
		}
		&.green {
			background-color: $f-green;
		}
		&.red {
			background-color: $f-red;
		}
		.title-label {
			padding: 5px;
			font-family: $font-lobster;
			color: white;

			&.large {
				font-size: var(--font-size-18);
			}
		}
		input[type="number"] {
			text-align: center;
			background-color: beige;
		}
	}
	ul {
		list-style: none;
		padding: 5px 20px;
		margin: 0 2px 5px;
		background-color: $f-blue-grey-l;
		li {
			text-decoration: none;
			text-align: center;
			.dice-icon {
				cursor: pointer;
				//position: relative;
				width: 32px;
				line-height: 32px;
				//float: none;
				display: inline-block;
				margin-right: 1px;
				background-repeat: no-repeat;
				background-size: 32px 32px;
				font-size: 16px;
				color: rgb(0, 0, 0);
				font-weight: bold;
				text-align: center;
				//-webkit-text-stroke: 1px rgb(255, 255, 255);
				background-image: url(../assets/chat/d20-white.svg);
				&.marked {
					color: white;
					background-image: url(../assets/chat/d20-blue.svg);
				}
			}
		}
	}
}

.fallout .window-content {
	//background-image: url(../assets/ui/window-bg.webp);
	background: none;
	padding: 0;
	color: $c-font-prim;
	background-color: $f-vault-blue;
	& > form {
		padding: 8px;
		&.character {
			background-color: $f-vault-blue;
		}
		&.robot {
			background-color: $f-vault-blue;
		}
		&.npc {
			background-color: $f-valut-dark-green;
		}
		&.creature {
			background-color: $f-valut-dark-green;
		}
	}
	.content-link{
		background: darken($f-vault-blue, 10%);
		border: unset;
		.fas {
			color:$c-font-prim;
		}

	}

	background-size: cover;
	background-repeat: no-repeat;


	a.inline-roll.roll {
		background: #4c93d2;
		padding: 1px 4px;
		border: 1px solid #182537;
		border-radius: 2px;
		white-space: nowrap;
		word-break: break-all;
		color: #fffab6;
		font-weight: 500;


		&:hover {
			text-shadow: 0 0 10px #b5cfe9;
		}

		i {
			color: #3a5884;
		}
	}


}

.dice-tooltip .dice-rolls .roll.max {
    color: unset;
    filter: none;
}
.dice-tooltip .dice-rolls .roll.min {
    color: unset;
    filter: none;
}

.chat-item {
	background: repeating-linear-gradient( to bottom, #122505 0px, #122505 1px, #235800 1px, #235800 2px );
    color: #6aff06;
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #38550f;

	img{
		width: 50%;
		background-color: rgb(0, 37, 8);
		border-radius: 12px;
	}

	.content-link{
		background-color: rgb(0, 37, 8);
		.fas{
			color: #6aff06;
		}
	}

	hr{
		border: 1px solid #327c01;
	}

	.item-name{
		text-align: center;
		box-shadow: 0px 0px 10px 5px #235800;
		text-transform: uppercase;
	}

	a:hover{
		text-shadow: 0 0 8px #b4ff06
	}

	.inline-roll.roll {
		background: none;
		padding: 1px 4px;
		border: 1px solid #6aff0699;
		border-radius: 2px;
		white-space: nowrap;
		word-break: break-all;
		color: #6aff06;
		font-weight: 500;

		i {
			color: #6aff06;
		}
	}
}
