<div
	class="tab abilities"
	data-group="primary"
	data-tab="abilities"
>
	<section class="grid grid-6col">
		<section class="main grid-span-1">
			{{> actor/pc/partials/attributes }}
		</section>
		<section class="main grid-span-2">
			{{> actor/pc/partials/skills }}
		</section>
		<section class="main grid-span-3">
			{{> actor/pc/partials/traits }}
			{{> actor/pc/partials/perks }}
		</section>
	</section>
</div>
