<div class="tab abilities" data-group="primary" data-tab="abilities">
	<section class="grid-6-columns">
		<section class="main grid-colspan-1">
			{{> actor/pc/partials/attributes }}
		</section>
		<section class="main grid-colspan-2">
			{{> actor/_shared-partials/skills}}
		</section>
		<section class="main grid-colspan-3">
			{{> actor/pc/partials/traits }}
			{{> actor/pc/partials/perks }}
		</section>
	</section>
</div>
