<div class="tab status" data-group="primary" data-tab="status">
	<div class="condition-box flexrow">
		{{!-- LEFT COLUMN --}}
		<div style="padding-right:10px;">
			{{> actor/pc/partials/derived }}
			{{> actor/pc/partials/resistances }}

			{{#if isRobot}}
				{{> actor/pc/partials/statuses-robot }}
			{{else}}
				{{> actor/pc/partials/statuses }}
			{{/if}}
		</div>

		{{!-- MIDDLE COLUMN --}}
		{{> actor/pc/partials/pip-boy }}

		{{!-- RIGHT COLUMN --}}
		<div style="padding-left:10px;">
			{{> actor/pc/partials/health }}

			{{#unless isRobot}}
				{{> actor/pc/partials/radiation }}
			{{/unless}}

			{{> actor/pc/partials/injuries }}

			{{#if isRobot}}
				{{> actor/pc/partials/robot-mods }}
			{{else}}
				{{> actor/pc/partials/power-armor }}
			{{/if}}
		</div>
	</div>

	{{!-- FAVOURITE ROW // EQUIPPED --}}
	<div class="status footer grid-5-columns">
		<div class="grid-colspan-2">
			{{> actor/pc/partials/favorite-weapons }}
		</div>
		<div class="grid-colspan-2">
			{{#unless isRobot}}
				{{> actor/pc/partials/addictions}}
				{{> actor/pc/partials/diseases}}
			{{/unless}}
		</div>
		<div>
			{{#unless isRobot}}
				{{> actor/pc/partials/conditions}}
			{{/unless}}
		</div>
	</div>

</div>
