<form class="{{cssClass}} {{actor.type}} flexcol theme-wrapper" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/fallout/templates/actor/parts/actor-header.html"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="status">{{localize "FALLOUT.TEMPLATES.Status"}}</a>
    <a class="item" data-tab="skills">{{localize "FALLOUT.TEMPLATES.Abilities"}}</a>
    <a class="item" data-tab="weapons">{{localize "FALLOUT.TEMPLATES.Weapons"}}</a>
    <a class="item" data-tab="apparel">{{localize "FALLOUT.TEMPLATES.Apparel"}}</a>
    <a class="item" data-tab="inventory">{{localize "FALLOUT.TEMPLATES.Gear"}}</a>
    <a class="item" data-tab="data">{{localize "FALLOUT.TEMPLATES.Data"}}</a>
    <a class="item" data-tab="effects">{{localize "FALLOUT.TEMPLATES.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    
    {{!-- Status Tab --}}
    <div class="tab status" data-group="primary" data-tab="status">
      {{> "systems/fallout/templates/actor/parts/actor-status.html" bodyValues=FALLOUT.BodyValues}}
    </div>

    {{!-- Owned skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-6col">
        <div class="attributes main grid-span-1">
          {{> "systems/fallout/templates/actor/parts/actor-attributes.html"}}
        </div>
        <section class="main grid-span-2">
          {{> "systems/fallout/templates/actor/parts/actor-skills.html"}}
        </section>
        <section class="main grid-span-3">
          {{> "systems/fallout/templates/actor/parts/actor-perks.html"}}
        </section>
      </section>
    </div>

    {{!-- Owned Apparel Tab --}}
    <div class="tab items" data-group="primary" data-tab="apparel">
      {{> "systems/fallout/templates/actor/parts/actor-apparel.html"}}
    </div>

    {{!-- Owned Weapons Tab --}}
    <div class="tab items" data-group="primary" data-tab="weapons">
      {{> "systems/fallout/templates/actor/parts/actor-weapons.html"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/fallout/templates/actor/parts/actor-inventory.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab data" data-group="primary" data-tab="data">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fallout/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>