<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="flexrow">
      <div class="flexcol">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        <label for="data.origin" class="resource-label">{{localize "FALLOUT.ORIGIN"}}</label>
        <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="String" />
      </div>

      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="data.health.value" class="resource-label">{{localize "FALLOUT.LEVEL.Current XP"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.level.currentXP" value="{{data.level.currentXP}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.power.value" class="resource-label">{{localize "FALLOUT.LEVEL.Next XP"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.level.nextLevelXP" value="{{data.level.nextLevelXP}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.level.value" class="resource-label">{{localize "FALLOUT.LEVEL.Level"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" />
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="status">Status</a>
    <a class="item" data-tab="skills">Abilities</a>
    <a class="item" data-tab="weapons">Weapons</a>
    <a class="item" data-tab="apparel">Apparel</a>
    <a class="item" data-tab="gear">Gear</a>
    <a class="item" data-tab="data">Data</a>
    <!-- <a class="item" data-tab="effects">Effects</a> -->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-6col">
        <div class="attributes main grid-span-1">

          <div class="attributes-list">
            {{#each data.attributes as |ability key|}}
            <div class="attribute special-letter">
              <label for="data.attributes.{{key}}.value" class="resource-label align-left" data-label="{{ability.label}}">{{subString ability.label 0 1}}</label>
              <div class='special-number'>
                <input type="number" name="data.attributes.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
              </div>

            </div>
            {{/each}}
          </div>
        </div>
        <section class="main grid-span-2">
          {{> "systems/fallout/templates/actor/parts/actor-skills.html"}}
        </section>
        <section class="main grid-span-3">
          {{> "systems/fallout/templates/actor/parts/actor-perks.html"}}
        </section>
      </section>

    </div>



    {{!-- Owned Apparel Tab --}}
    <div class="tab items" data-group="primary" data-tab="apparel">
      {{> "systems/fallout/templates/actor/parts/actor-apparel.html"}}
    </div>

    {{!-- Status Tab --}}
    <div class="tab status" data-group="primary" data-tab="status">
      {{> "systems/fallout/templates/actor/parts/actor-status.html" bodyValues=FALLOUT.BodyValues}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fallout/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>