<form class="{{cssClass}} {{actor.type}} flexcol theme-wrapper" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/fallout/templates/actor/parts/actor-header.html"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">{{localize "FALLOUT.TEMPLATES.Abilities"}}</a>
    <a class="item" data-tab="data">{{localize "FALLOUT.TEMPLATES.Data"}}</a>
    <!-- <a class="item" data-tab="effects">Effects</a> -->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Abilities Tab --}}
    <div class="tab data" data-group="primary" data-tab="skills">
      <section class="grid grid-2col">
        {{!-- LEFT COLUMN __________________________________________________ --}}
        <div class="left-column">
          {{!-- SPECIAL --}}
          <div class="flexrow resource-row">
            {{#each data.attributes as |ability key| }}
            <div class="box">
              <div class="box-header text-center upperC resource-label">{{subString key 0 1}}</div>
              <div class="flex-center">
                <input class="text-center" type="number" name="data.attributes.{{key}}.value" value="{{ability.value}}">
              </div>
            </div>
            {{/each}}
          </div>
          {{!-- SKILLS --}}
          <div class="flexrow resource-row">
            <div class="box">
              <div class="box-header text-center">{{localize "FALLOUT.TEMPLATES.SKILLS"}}</div>
              <div>
                <ol class="items-list grid">
                  {{#each skills as |item id|}}
                  <li class="item skill flexrow" data-item-id="{{item._id}}">
                    <div class="item-name">
                      <h4><a class="color-secondary"><span class="resource-label upperC">{{item.name}}</span> [{{toUpperCase item.data.defaultAttribute}}]</a></h4>
                    </div>
                    <div class="item-skill-tag">
                      <input type="checkbox" name="tag" {{#ifCond item.data.tag '==' true}}checked{{/ifCond}}>
                    </div>
                    <div class="item-skill-value">
                      <input type="number" class="num-short-2" name="value" value="{{item.data.value}}">
                    </div>
                  </li>
                  {{/each}}
                </ol>
              </div>
            </div>
          </div>

          {{!-- HP INIT DEF --}}
          <div class="flexrow resource-row">
            <div class="box no-padding bgEven">
              <h4 class="box-header text-center">HP</h4>
              <div class="flexrow">
                <input class="num-short-3" type="number" name="data.health.value" value="{{data.health.value}}">
                <label class="text-center"> / </label>
                <input class="num-short-3" type="number" name="data.health.max" value="{{data.health.max}}">
              </div>
            </div>
            <div class="box no-padding bgOdd">
              <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.INITIATIVE"}}</h4>
              <div class="text-center">
                <input class="num-short-2" type="number" name="data.initiative.value" value="{{data.initiative.value}}">
              </div>
            </div>
            <div class="box no-padding bgEven">
              <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.DEFENSE"}}</h4>
              <div class="text-center">
                <input class="num-short-2" type="number" name="data.defense.value" value="{{data.defense.value}}">
              </div>
            </div>
          </div>

          {{!-- CARRY | MELEE BONUS --}}
          <div class="flexrow resource-row">
            <div class="box no-padding bgOdd">
              <h4 class="box-header text-center">{{localize "FALLOUT.UI.CarryWeight"}}</h4>
              <div class="text-center">
                <label><input class="num-short-3" type="number" name="data.carryWeight.base" value="{{data.carryWeight.base}}"> {{localize "FALLOUT.TEMPLATES.lbs"}}</label>

              </div>
            </div>
            <div class="box no-padding bgEven">
              <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.MELEE_BONUS"}}</h4>
              <div class="text-center">
                <input class="num-short-2" type="number" name="data.meleeDamage.base" value="{{data.meleeDamage.base}}">
              </div>
            </div>
          </div>

          {{!-- RESISTANCES --}}
          <div class="box no-padding bgOdd">
            <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.RESISTANCES"}}</h4>
            {{#each data.resistance as |res key|}}
            <div class="flexrow resource-row">
              <span class="align-mid" style="display: flex;">
                <label for="data.resistance.{{key}}.locations" style="margin-right: 5px; width: 20px;" class=""><i class="fo-{{key}} resistance-icon" title="physical"></i></label>
                <input type="text" class="flex3" name="data.resistance.{{key}}.locations" value="{{res.locations}}" placeholder="Body Locations">
              </span>
            </div>
            {{/each}}
          </div>
          {{!-- INJURIES --}}
          <div class="box no-padding bgEven">
            <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.LOCATIONS_INJURIES"}}</h4>
            <textarea class="color-prim" name="data.injuries" rows="8" style="resize: none;" placeholder="You can use this to write locations, their values or critical inuries suffered.(ex. Wing | 2-4 | Injuries: 3 Opened, 2 Treated)">{{data.injuries}}</textarea>
          </div>
        </div>
        {{!-- RIGHT COLUMN __________________________________________________ --}}
        <div class="right-column">
          <div class="box no-padding bgOdd">
            <h4 class="box-header text-center">{{localize "FALLOUT.TEMPLATES.ATTACKS"}}</h4>
            <div>
              {{!-- Owned Weapons Tab --}}
              {{> "systems/fallout/templates/actor/parts/actor-weapons.html"}}
            </div>
          </div>
          <div class="resource-row">
            {{!-- Owned Abilities Tab --}}
            {{> "systems/fallout/templates/actor/parts/actor-special_abilities.html"}}
          </div>
          <div class="resource-row">
            <ol class="items-list">
              <li class="item consumable flexrow items-header">
                <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.UI.INVENTORY'}}</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create Miscellany" data-type="miscellany"><i class="fas fa-plus"></i>
                    {{localize 'FALLOUT.UI.Add'}}</a>
                </div>
              </li>
              {{#each inventory as |item id|}}
              {{> "systems/fallout/templates/actor/parts/simple-expandable-item.html" item=item}}
              {{/each}}
            </ol>
          </div>
        </div>
      </section>
    </div>

    {{!-- Data Tab --}}
    <div class="tab data" data-group="primary" data-tab="data">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <!-- <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fallout/templates/actor/parts/actor-effects.html"}}
    </div> -->

  </section>
</form>