<div
	class="padding5"
	style="display: grid; grid-row-gap: 8px; text-align: center; margin: 0"
>
	<i
		class="{{fromConfig "SETTLEMENT_ACTION_ICONS" this.id}}"
		data-tooltip="{{this.name}}"
	></i>
	<input
		data-dtype="Number"
		{{!-- style="text-align: center;" --}}
		type="number"
		value="{{count}}"
		disabled
	>
</div>
