<div
	class="grid-1-columns"
	style="text-align: center;"
>
	<i
		class="{{fromConfig "SETTLEMENT_ACTION_ICONS" this.id}}"
		data-tooltip="{{this.name}}"
	></i>
	<input
		data-dtype="Number"
		type="number"
		value="{{count}}"
		disabled
	>
</div>
