<div class="box padding5">
	<ol class="items-list">
		<li class="item consumable flexrow items-header">
			<div class="flexrow flexlarge item-name upperC">
				{{localize 'FALLOUT.TEMPLATES.SettlersAndJobs'}}
			</div>
		</li>
		{{!-- {{#each settlementObjects as |item id|}}
			{{> actor/_shared-partials/simple-expandable-item item=item}}
		{{/each}} --}}
	</ol>
</div>
