<div class="tab frame" data-group="primary" data-tab="frame">
	{{> item/apparel/_partials/power-armor-pieces}}
	{{!-- <div class="power-armor-parts">
		{{#each powerArmorPieces}}
			<i class="fa-solid fa-plug"></i>
			<div>{{this.name}}</div>
		{{/each}}
	</div> --}}
</div>
