<div class="tab qualities flexcol" data-group="primary" data-tab="qualities">

	<div class="status-help-bar">
		<div class="help-item">
			<p class="toggle-label active" style="font-size: 13px">{{localize "FALLOUT.TEMPLATES.AddWeaponQualityEffect"}}</p>
		</div>
		<div class="help-item">
			<p class="toggle-label disable" style="font-size: 13px">{{localize "FALLOUT.TEMPLATES.RemoveWeaponQualityEffect"}}</p>
		</div>
	</div>

	{{> item/weapon_mod/_partials/qualities}}
	{{> item/weapon_mod/_partials/effects}}
</div>
