<div class="fallout-chat-message">
    <div class="content">
        <h2>{{rollname}}</h2>
        <div class="damage-plaq flexrow">
            <p class="flexlarge" style="margin: 0;">{{localize "FALLOUT.UI.Damage"}}: {{damage}} | {{localize "FALLOUT.TEMPLATES.Effects"}}: {{effects}}</p>
            <div style="text-align: end;">
                {{#each weaponDamageTypesList as |damageType|}}
                <i class="fo-{{damageType}}" title="{{localize (concat 'FALLOUT.RESISTANCE.' damageType)}}"></i>
                {{/each}}
            </div>
        </div>
        <p class="font-size-11" style="padding-left: 10px;">{{weaponDamageEffects}}</p>
        <div class="dices-result" style="display: flex; flex-wrap: wrap;">
            {{#each results as |dice|}}
            <span class="dice-icon d6 face-{{dice.face}}{{#if reroll}} reroll{{/if}}{{#ifCond effect '==' 1}} effect{{/ifCond}}" data-index="{{@index}}">&nbsp;</span>
            {{/each}}
        </div>
        <div class="flexrow">
            <button class="reroll-button">{{localize "FALLOUT.TEMPLATES.Re_roll"}} <span class="fo-pip-boy fo-blue"></span></button>
            <button class="add-button">{{localize "FALLOUT.UI.Add"}} <span class="fo-pip-boy fo-blue"></span></button>
        </div>
    </div>
</div>