<div class="flexrow flexlarge item-name upperC">
	{{localize (concat 'FALLOUT.WEAPONS.weaponModType.' key)}}
</div>
<div class="flexrow flexlarge item-info">
	<div class="text-center flex3">
		<p>{{localize "FALLOUT.TEMPLATES.Effects"}}</p>
	</div>
</div>


