<div class="tab items" data-group="primary" data-tab="items">
	<div class="grid grid-3col">
		<div class="grid-span-2 ">
			{{> actor/scavenging_location/partials/found-items}}
		</div>
		<div>
			{{> actor/_shared-partials/materials
				materials=simpleItems
			}}
		</div>
	</div>
</div>
