<div class="tab items" data-group="primary" data-tab="items">
	<div class="grid-3-columns">
		<div class="grid-colspan-2">
			{{> actor/scavenging_location/partials/found-items}}
		</div>
		<div>
			{{> actor/_shared-partials/materials
				materials=simpleItems
			}}
		</div>
	</div>
</div>
