.fallout.ap-tracker {
	position: absolute;
	display: block;
	margin: 5px;
	//padding: 10px;
	//border: 1px solid black;
	//border-radius: 12px;
	//background-color: $f-vault-blue;
	bottom: 20px !important;
	right: 320px !important;

	.ap-resource {
		position: relative;
		padding: 10px 20px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		//color: white;
		&.gm {
			@include element-color($f-vault-blue, 2);
		}
		&.party {
			@include element-color(darken($fa-green, 10%), 3);
		}
		&.maxAP-box {
			@include element-color(darken($f-purple, 10%), 3);
		}

		.toggle-maxAp {
			position: absolute;
			top: 8px;
			right: 5px;
			color: beige;
		}

		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		h4 {
			margin: 0 0 2px 0;
			color: bisque;
		}
		input[type="number"] {
			margin: 0 5px;
			font-size: 16px;
		}

		.ap-btn {
			min-width: 24px;
			min-height: 24px;
			max-width: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: bisque;
			border-radius: 6px;
		}
	}
}
