.resource-label {
  font-weight: bold;
}
.resource-row{
  padding: 5px;
  margin-bottom: 5px;
}
.upperC{
  text-transform: uppercase;
 }
 .lowerC{
  text-transform: lowercase;
 }
 .text-center{
   text-align: center;
 }
 .num-short-2{   
     max-width: 2rem;   
 }
 .num-short-3{   
  max-width: 3rem;   
}