<li class="fallout game-license">
	<p>
		This community contributed and maintained system for playing
		<a href="https://www.modiphius.net/pages/fallout-the-roleplaying-game">
			Fallout: The Roleplaying Game
		</a>
		has been produced with the explicit consent of
		<a href="https://www.modiphius.net">
			Modiphius Entertainment
		</a>
	</p>
	<p>
		All copyright assets included in the system are used with the explicit
		consent of
		<a href="https://www.modiphius.net">Modiphius Entertainment</a>.
		The system developers hold no claims to these underlying copyrighted
		assets.
	</p>
	<p>
		<em>
			Many thanks to Modiphius for allowing the inclusion of many player
			facing item compendiums which contain various classes of item from
			the core rulebook.  Their generosity means the system comes with
			compendiums containing more than one-thousand items from the core
			rulebook.
		</em>
	</p>
	<p style="text-align: center;">
		<a href="https://github.com/Muttley/foundryvtt-fallout/issues">
			<img
				src="https://img.shields.io/badge/Report%20Bugs%20on%20GitHub-2dba4e?logo=GitHub&logoColor=white"
				style="max-width: 100%;"
			>
		</a>
	</p>
	<p style="text-align: center;">
		<a href="https://www.patreon.com/muttley">
			<img
				src="https:/img.shields.io/badge/Follow%20on%20Patreon-F96854?logo=patreon&logoColor=white"
				style="max-width: 100%;"
			>
		</a>
	</p>
</li>
