<li class="fallout game-license">
	<p>
		This community contributed and maintained system for playing
		<a href="https://www.modiphius.net/pages/fallout-the-roleplaying-game">
			Fallout: The Roleplaying Game
		</a>
		has been produced with the explicit consent of
		<a href="https://www.modiphius.net">
			Modiphius Entertainment
		</a>
	</p>
	<div class="footer">
		Report bugs or make feature requests on
		<a href="https://github.com/Muttley/foundryvtt-fallout/issues">
			Github
		</a>
	</div>
	<p style="text-align: center;">
		<a href="https://www.patreon.com/muttley">
			<img
				src="https:/img.shields.io/badge/Patreon-F96854?logo=patreon&amp;logoColor=white"
				style="max-width: 100%;"
			>
		</a>
	</p>
</li>
