<div class="tab data" data-group="primary" data-tab="abilities">
	<section class="grid grid-2col">
		<div class="left-column">
			{{> actor/npc/partials/attributes }}

			<div class="flexrow resource-row">
				{{> actor/_shared-partials/npc-hp }}
				{{> actor/_shared-partials/npc-initiative }}
				{{> actor/_shared-partials/npc-defense }}
			</div>

			<div class="flexrow resource-row">
				{{> actor/npc/partials/carry-weight }}
				{{> actor/npc/partials/melee-bonus }}
			</div>

			{{> actor/_shared-partials/npc-body
				FALLOUT=FALLOUT
			}}
		</div>

		<div class="right-column">
			{{> actor/npc/partials/skills }}
			{{> actor/npc/partials/attacks }}
			{{> actor/_shared-partials/special-abilities }}
			{{> actor/_shared-partials/npc-inventory }}
		</div>

	</section>
</div>
