<div class="tab data" data-group="primary" data-tab="abilities">
	<section class="grid grid-2col">
		<div class="left-column">
			{{#if isCreature}}
				{{> actor/npc/partials/attributes_creature }}
			{{else}}
				{{> actor/npc/partials/attributes_npc }}
			{{/if}}

			<div class="flexrow resource-row">
				{{> actor/npc/partials/hp }}
				{{> actor/npc/partials/initiative }}
				{{> actor/npc/partials/defense }}
			</div>

			{{#if isNPC}}
				<div class="flexrow resource-row">
					{{> actor/npc/partials/carry-weight }}
					{{> actor/npc/partials/melee-bonus }}
				</div>
			{{/if}}

			{{> actor/npc/partials/body
				FALLOUT=FALLOUT
			}}

			{{#unless isCreature}}
				{{> actor/npc/partials/settlement }}
			{{/unless}}
		</div>

		<div class="right-column">
			{{> actor/npc/partials/attacks }}

			{{#if isCreature}}
				{{> actor/npc/partials/special-abilities }}
			{{else}}
				{{> actor/npc/partials/skills }}
			{{/if}}
		</div>

	</section>
</div>
