<div class="tab skills" data-group="primary" data-tab="skills">
	<div class="flexrow">
		{{!-- LEFT --}}
		<div style="padding-right: 5px;">
			{{> actor/_shared-partials/skills }}
		</div>

		{{!-- RIGHT --}}
		<div></div>
	</div>
</div>
