<div class="tab special-abilities" data-group="primary" data-tab="special-abilities">
	<div class="flexrow">
		{{!-- LEFT --}}
		<div style="padding-right: 5px;">
			{{> actor/npc/partials/special-abilities }}
		</div>

		{{!-- RIGHT --}}
		<div></div>
	</div>
</div>
