<div class="tab stockpile" data-group="primary" data-tab="stockpile">
	<div class="grid-3-columns">

		<div class="grid-colspan-2 ">
			{{> actor/settlement/partials/stockpile }}
		</div>

		<div>
			{{> actor/_shared-partials/materials
				materials=inventoryMaterials
			}}
		</div>

	</div>
</div>
