<header class="sheet-header resource-plate-header {{actor.type}}-header">
	<img class="profile-img"
		 data-edit="img"
		 height="100"
		 src="{{actor.img}}"
		 title="{{actor.name}}"
		 width="100" />
	<div class="flexrow">
		<div class="flexcol">
			<h1 class="charname">
				<input class="underline font-lobster"
					   name="name"
					   type="text"
					   value="{{actor.name}}"
					   placeholder="Name" />
			</h1>
		</div>
	</div>
</header>
