<div class="tab attributes" data-group="primary" data-tab="attributes">
	<div class="resource-row">
		<h3 class="resource-label">
			{{localize "FALLOUT.TEMPLATES.Effect"}}
		</h3>
	</div>
	<div class="description-field">
		{{editor descriptionHTML
			button=true
			editable=editable
			owner=owner
			rollData=rollData
			target="system.description"
		}}
	</div>
</div>
