<form class="{{cssClass}} {{actor.type}} flexcol theme-wrapper" autocomplete="off">

	{{> actor/parts/actor-header }}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="abilities">
			{{localize "FALLOUT.TEMPLATES.Abilities"}}
		</a>
		<a class="item" data-tab="data">
			{{localize "FALLOUT.TEMPLATES.Data"}}
		</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{> actor/npc/tabs/abilities }}
		{{> actor/npc/tabs/data }}
	</section>
</form>

