<div class="box no-padding bgOdd">
	<h4 class="box-header text-center">
		{{localize "FALLOUT.TEMPLATES.Attack"}}
	</h4>
	<div>
		{{> actor/_shared-partials/weapons
			nameLabel=(localize "FALLOUT.TEMPLATES.Attack")
			basicControlsOnly=true
		}}
	</div>
</div>
