<div class="box no-padding bgOdd">
	<h4 class="box-header text-center">
		{{localize "FALLOUT.TEMPLATES.ATTACKS"}}
	</h4>
	<div>
		{{> actor/_shared-partials/weapons
			nameLabel=(localize "FALLOUT.TEMPLATES.AttackName")
			basicControlsOnly=true
		}}
	</div>
</div>
