<div class="resource-row">
	<ol class="items-list">
		<li class="consumable flexrow items-header">
			<div class="flexrow flexlarge item-name upperC">
				{{localize 'FALLOUT.TEMPLATES.Butchery'}}
				&nbsp;&nbsp;
				<input
					class="num-short-2"
					data-dtype="Number"
					data-tooltip="Butchery Check TN"
					min="0"
					name="system.butchery"
					style="color: unset; height: auto;"
					type="number"
					value="{{system.butchery}}"
				>
			</div>
			<div class="item-controls">
				<a
					class="item-control item-create"
					data-type="consumable"
					title="Create Consumable"
				>
					<i class="fas fa-plus"></i>
					{{localize 'FALLOUT.UI.Add'}}
				</a>
			</div>
		</li>
		<div class="box">
			<ol class="items-list">
				{{#each materials}}
					{{>
						actor/_shared-partials/material
						material=this
					}}
				{{/each}}
			</ol>
		</div>

		{{!-- <div
			style="margin: 0; padding: 0; margin-bottom: 2px; padding-left: 5px; padding-right: 5px;"
			class="box flexrow"
		>
			{{#each materials}}
				{{>
					actor/_shared-partials/material
					material=this
				}}
			{{/each}}
		</div> --}}

		{{#each butcheryItems}}
			{{>
				actor/_shared-partials/simple-expandable-item
				item=this
				basicControlsOnly=true
			}}
		{{/each}}
	</ol>
</div>
