<div class="box no-padding bgEven">
	<h4 class="box-header text-center">
		{{localize "FALLOUT.TEMPLATES.HP"}}
	</h4>
	<div class="flexrow">
		<input
			class="num-short-3"
			type="number"
			name="system.health.value"
			value="{{system.health.value}}"
		>
		<label class="text-center">
			&nbsp;/&nbsp;
		</label>
		<input
			class="num-short-3"
			type="number"
			name="system.health.max"
			value="{{system.health.max}}"
		>
	</div>
</div>
