<div class="box no-padding bgOdd">
	<h4 class="box-header text-center">
		{{localize "FALLOUT.TEMPLATES.INITIATIVE"}}
	</h4>
	<div class="text-center">
		<input
			class="num-short-2"
			type="number"
			name="system.initiative.value"
			value="{{system.initiative.value}}"
		>
	</div>
</div>
