<li>
	<div class="flexrow">
		<input
			class="num-short-2"
			data-dtype="Number"
			min="0"
			name="{{material.key}}"
			type="number"
			value="{{material.value}}"
		>
		&nbsp;&nbsp;
		<div class="item-name flexlarge">
			<h4>
				<p class="resource-label">
					{{material.label}}
				</p>
			</h4>
		</div>
	</div>
</li>
