<div class="box no-padding bgEven">
	<h4 class="box-header text-center">
		{{localize "FALLOUT.TEMPLATES.MELEE_BONUS"}}
	</h4>
	<div class="text-center">
		<input
			class="num-short-2"
			type="number"
			name="system.meleeDamage.value"
			value="{{system.meleeDamage.value}}"
		>
	</div>
</div>
