<ol class="items-list">
	<li class="consumable flexrow items-header">
		<div class="flexrow flexlarge item-name upperC">
			{{localize 'FALLOUT.UI.SPECIAL_ABILITY'}}
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				data-type="special_ability"
				title="{{localize 'FALLOUT.TEMPLATES.Create_Special_Ability'}}"
			>
				<i class="fas fa-plus"></i>
				{{localize 'FALLOUT.UI.Add'}}
			</a>
			<a
				class="find-from-compendium"
				data-type="special_ability"
			>
				<i class="fa-solid fa-magnifying-glass"></i>
			</a>
		</div>
	</li>
	{{#each itemsByType.special_ability}}
		{{> actor/_shared-partials/simple-expandable-item
			item=this
			basicControlsOnly=true
		}}
	{{/each}}
</ol>
