<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/fallout/templates/item/parts/item-header.html"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
        <a class="item" data-tab="description">{{localize "FALLOUT.TEMPLATES.Description"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexrow resource-row">
                <label for="data.issue" class="resource-label">{{localize "FALLOUT.TEMPLATES.Issue"}}</label>
                <input type="text" name="data.issue" value="{{data.issue}}">
            </div>
            <div class="flexrow align-left resource-row">
                <label for="data.learned" class="resource-label">{{localize "FALLOUT.TEMPLATES.Learned"}}</label>
                <input type="checkbox" name="data.learned" {{#ifCond data.learned '==' true}}checked{{/ifCond}}>
            </div>

            <h3 class="resource-label">{{localize "FALLOUT.TEMPLATES.Effect"}}</h3>
            <div class="description-field">
                {{editor content=data.effect target="data.effect" button=true owner=owner editable=editable}}
            </div>
        </div>
        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>