<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/fallout/templates/item/parts/item-header.html"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
    <a class="item" data-tab="mods">{{localize "FALLOUT.MODS.mods"}}</a>
    <a class="item" data-tab="description">{{localize "FALLOUT.TEMPLATES.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Mods Tab --}}
    <div class="tab" data-group="primary" data-tab="mods">
      <div class="flexrow resource-row align-mid">
        <label class="resource-label">{{localize "FALLOUT.MODS.mods"}}</label>
        <div class="flexrow align-mid">
          <span>
            <label for="data.mods.current">{{localize "FALLOUT.TEMPLATES.current"}}</label>
            <input type="number" name="data.mods.current" class="num-short-2" value="{{data.mods.current}}">
          </span>
          <span class="text-center">/</span>
          <span>
            <label for="data.mods.max">{{localize "FALLOUT.TEMPLATES.max"}}</label>
            <input type="number" name="data.mods.max" class="num-short-2" value="{{data.mods.max}}">
          </span>
        </div>
      </div>
      <div class="description-field resource-row">
        {{editor content=data.mods.list target="data.mods.list" button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="flexrow resource-row bgOdd">
        <label class="resource-label">{{localize "FALLOUT.TEMPLATES.Weapon_Type"}}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each FALLOUT.WEAPONS.weaponType as |wType key|}}
          <option value="{{key}}">{{localize wType}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{#if (isCreaturesWeapon item)}}
      <div class="resource-row grid bgOdd">
        <div class="flexrow align-mid">
          <label class="resource-label" for="data.attribute">{{localize "FALLOUT.TEMPLATES.Creature_Attribute"}}</label>
          <select name="data.attribute">
            {{#select data.attribute}}
            {{#each FALLOUT.CREATURE.attributes as |attr key|}}
            <option value="{{key}}">{{localize attr}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="flexrow align-mid">
          <label class="resource-label" for="data.skill">{{localize "FALLOUT.TEMPLATES.Creature_Skill"}}</label>
          <select name="data.skill">
            {{#select data.skill}}
            {{#each FALLOUT.CREATURE.skills as |skill key|}}
            <option value="{{key}}">{{localize skill}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      {{/if}}

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.damage.rating">{{localize "FALLOUT.TEMPLATES.DAMAGE"}}</label>
        <input type="number" name="data.damage.rating" value="{{data.damage.rating}}">
      </div>

      <div class="flexrow resource-row bgOdd">
        <label class="resource-label" for="data.damage.damageType">{{localize "FALLOUT.TEMPLATES.DAMAGE_TYPE"}}</label>
        <div class="grid">
          {{#each data.damage.damageType as |dmgType key|}}
          <div class="flexrow toggle-label {{#ifCond dmgType '==' true}}active{{/ifCond}}">
            <label class="font-size-13">
              <input class="" type="checkbox" name="data.damage.damageType.{{key}}" {{#ifCond dmgType '==' true}}checked{{/ifCond}}>
              {{localize (concat 'FALLOUT.WEAPONS.damageType.' key)}} <i class="fo-{{key}}"></i>
            </label>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.range">{{localize "FALLOUT.TEMPLATES.RANGE"}}</label>
        <select name="data.range">
          {{#select data.range}}
          {{#each FALLOUT.WEAPONS.range as |range key|}}
          <option value="{{key}}">{{localize range}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="flexrow resource-row bgOdd">
        <label class="resource-label" for="data.fireRate">{{localize "FALLOUT.TEMPLATES.FIRE_RATE"}}</label>
        <input type="number" name="data.fireRate" value="{{data.fireRate}}">
      </div>

      <div class="flexrow resource-row bgEven">
        <label class="resource-label" for="data.ammo">{{localize "ITEM.TypeAmmo"}}</label>
        <input type="text" name="data.ammo" value="{{data.ammo}}">
      </div>

      <div class="grid">
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">{{localize "FALLOUT.TEMPLATES.WEAPON_QUALITIES"}}</label>
          <div class="grid item-list">
            {{#each data.damage.weaponQuality as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.damage.weaponQuality.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'FALLOUT.WEAPONS.weaponQuality.' key)}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">{{localize "FALLOUT.TEMPLATES.DAMAGE_EFFECTS"}}</label>
          <div class="grid item-list">
            {{#each data.damage.damageEffect as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.damage.damageEffect.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'FALLOUT.WEAPONS.damageEffect.' key)}}
              </label>
              {{#ifCond key '==' 'piercing'}}
              <input type="number" name="data.damage.damageEffect.{{key}}.rank" class="num-short-2" value="{{item.rank}}">
              {{/ifCond}}
            </div>
            {{/each}}
            <!-- {{#each data.damage.damageEffect as |item key|}}
            <div class="wpn-tag damage-effect-tag toggle-label flex align-mid {{#ifCond item.value '==' true}}active{{/ifCond}}" data-tag-key="{{key}}" data-tag-value="{{item.value}}" data-index="{{@index}}" data-tag-type='damageEffect'>
              <label class="wpn-tag-toggler">{{item.label}}</label>
              {{#ifCond key '==' 'piercing'}}
              <input type="number" class="num-short-2 wpn-tag-rank" value="{{item.rank}}">
              {{/ifCond}}
            </div>
            {{/each}} -->
          </div>
        </div>
      </div>


    </div>
  </section>
</form>