<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/fallout/templates/item/parts/item-header.html"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="mods">Mods</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Mods Tab --}}
    <div class="tab" data-group="primary" data-tab="mods">
      <div class="flexrow resource-row align-mid">
        <label class="resource-label">{{localize "FALLOUT.MODS.mods"}}</label>
        <div class="flexrow align-mid">
          <span>
            <label for="data.mods.current">current</label>
            <input type="number" name="data.mods.current" class="num-short-2" value="{{data.mods.current}}">
          </span>
          <span class="text-center">/</span>
          <span>
            <label for="data.mods.max">max</label>
            <input type="number" name="data.mods.max" class="num-short-2" value="{{data.mods.max}}">
          </span>
        </div>
      </div>
      <div class="description-field resource-row">
        {{editor content=data.mods.list target="data.mods.list" button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="flexrow resource-row bgOdd">
        <label class="resource-label">Weapon Type</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each FALLOUT.WEAPONS.weaponType as |wType key|}}
          <option value="{{key}}">{{localize wType}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{#if (isCreaturesWeapon item)}}
      <div class="resource-row grid bgOdd">
        <div class="flexrow align-mid">
          <label class="resource-label" for="data.attribute">Creature's Attribute</label>
          <select name="data.attribute">
            {{#select data.attribute}}
            {{#each FALLOUT.CREATURE.attributes as |attr key|}}
            <option value="{{key}}">{{localize attr}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="flexrow align-mid">
          <label class="resource-label" for="data.skill">Creature's Skill</label>
          <select name="data.skill">
            {{#select data.skill}}
            {{#each FALLOUT.CREATURE.skills as |skill key|}}
            <option value="{{key}}">{{localize skill}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      {{/if}}

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.damage.rating">DAMAGE</label>
        <input type="number" name="data.damage.rating" value="{{data.damage.rating}}">
      </div>

      <div class="flexrow resource-row bgOdd">
        <label class="resource-label" for="data.damage.damageType">DAMAGE TYPE</label>
        <select name="data.damage.damageType">
          {{#select data.damage.damageType}}
          {{#each FALLOUT.WEAPONS.damageType as |dmgType key|}}
          <option value="{{key}}">{{localize dmgType}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.range">RANGE</label>
        <select name="data.range">
          {{#select data.range}}
          {{#each FALLOUT.WEAPONS.range as |range key|}}
          <option value="{{key}}">{{localize range}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="flexrow resource-row bgOdd">
        <label class="resource-label" for="data.fireRate">FIRE RATE</label>
        <input type="number" name="data.fireRate" value="{{data.fireRate}}">
      </div>

      <div class="flexrow resource-row bgEven">
        <label class="resource-label" for="data.ammo">Ammo</label>
        <input type="text" name="data.ammo" value="{{data.ammo}}">
      </div>

      <div class="grid">
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">WEAPON QUALITIES</label>
          <div class="grid item-list">
            {{#each flags.fallout.weaponQualities as |item key|}}
            <div class="wpn-tag weapon-quality-tag {{#ifCond item.value '==' true}}active{{/ifCond}}" data-tag-key="{{key}}"
              data-tag-value="{{item.value}}" data-index="{{@index}}" data-tag-type='weaponQuality'>
              <label class="wpn-tag-toggler">{{item.label}}</label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">DAMAGE EFFECTS</label>
          <div class="grid item-list">
            {{#each flags.fallout.damageEffects as |item key|}}
            <div class="wpn-tag damage-effect-tag {{#ifCond item.value '==' true}}active{{/ifCond}}" data-tag-key="{{key}}"
              data-tag-value="{{item.value}}" data-index="{{@index}}" data-tag-type='damageEffect'>
              <label class="wpn-tag-toggler">{{item.label}}</label>
              {{#ifCond key '==' 'piercing'}}
              <input type="number" class="num-short-2 wpn-tag-rank" value="{{item.rank}}">
              {{/ifCond}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>


    </div>
  </section>
</form>