<div class="flexrow resource-row">
	<label for="system.butchery" class="field-label">
		{{localize "FALLOUT.TEMPLATES.Butchery"}}
	</label>
	<input
		name="system.butchery"
		type="checkbox"
		{{#ifCond system.butchery '==' true}}
			checked
		{{/ifCond}}
	>
</div>
