<div class="flexrow resource-row">
	<label class="field-label" for="system.hp">
		{{localize "FALLOUT.TEMPLATES.HP_Healed"}}
	</label>

	<input
		name="system.hp"
		type="number"
		value="{{system.hp}}"
	>
</div>
