<div class="flexrow resource-row">
	<label for="system.radiationDamage" class="field-label">
		{{localize "FALLOUT.TEMPLATES.IrradiatedDamageDice"}}
	</label>
	<input
		name="system.radiationDamage"
		type="number"
		value="{{system.radiationDamage}}"
	>
</div>
