<div class="flexrow resource-row">
	<label for="system.providesCap" class="field-label">
		{{localize "FALLOUT.TEMPLATES.ProvidesCap"}}
	</label>
	<input
		name="system.providesCap"
		type="checkbox"
		{{checked system.providesCap}}
	>
</div>
