<div class="flexrow resource-row">
	<label class="field-label" for="system.radiation">
		{{localize "FALLOUT.TEMPLATES.Radiation_Healed"}}
	</label>

	<input
		name="system.radiation"
		type="number"
		value="{{system.radiation}}"
	>
</div>
