<div class="flexrow resource-row">
	<label for="system.radiation" class="field-label">
		{{localize "FALLOUT.TEMPLATES.Thirst_Reduction"}}
	</label>
	<input
		name="system.thirstReduction"
		type="number"
		value="{{system.thirstReduction}}"
	>
</div>
